{% extends 'base.html.twig' %}

{% block title %}Forex Today{% endblock %}

{% block body %}
    <div class="container box">
        <br />
        <h2 style="text-align:center;">Currency Exchange Rates</h2><br />

    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .box
        {
            width:800px;
            margin:0 auto;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        // form_currency

        /*
        let $currency = $('#form_currency');

        // When currency gets selected
        $currency.change(function () {
            // Retrieve the corresponding form.
            let $form = $(this).closest('form');

            // Simulate form data, but only include the selected currency.
            let data = {};
            data[$currency.attr('name')] = $currency.val();

            //let $link = $(e.currentTarget);

            // Submit data via AJAX to the form's action path.
            $.ajax({
                //method : 'POST',
                //url    : $link.attr('href'),
                url  : $form.attr('action'),
                type : $form.attr('method'),
                data : data,
                success: function (html) {

                }
            });

            window.alert('Currency changed');
        });

        /*
        $('#currencyConversions').DataTable( {
            "ajax": data
        });
         */
    </script>
{% endblock %}