{% extends 'base.html.twig' %}

{% block title %}Forex Today{% endblock %}

{% block body %}
    <div class="container box">
        <br />
        <h2 style="text-align:center;">Currency Exchange Rates</h2><br />

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.amount) }}
            {{ form_widget(form.amount, {'attr' : {'class' : 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.baseCurrency) }}
            {{ form_widget(form.baseCurrency, {'attr' : {'class' : 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.targetCurrency) }}
            {{ form_widget(form.targetCurrency, {'attr' : {'class' : 'form-control'}}) }}
        </div>

        {{ form_widget(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}


    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .box
        {
            width:800px;
            margin:0 auto;
        }
    </style>
{% endblock %}