{% extends 'base.html.twig' %}

{% block title %}ExchangeRatesApp - Your result{% endblock %}

{% block body %}
    <div class="container box">
        <br />
        <h2 style="text-align:center;">Currency Exchange Rates</h2><br />

        <div class="form-group">
            <h3>{{ enquiry.amount|number_format(2, '.', ',') }} {{ enquiry.baseCurrency }} =   {{ result|number_format(2, '.', ',') }} {{ enquiry.targetCurrency }}</h3>
        </div>

        <br />

        <div class="form-group">
            <h3>Latest Conversion History of {{ enquiry.baseCurrency }}</h3>
            <table id="data-table" class="table table-responsive table-striped">
                <thead class="thead-default">
                <tr>
                    <th>Currency</th>
                    <th>Rate</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in rates %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}